.contact-info-container {
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;
}

.contact-header {
    background-color: white;
}

.contact-us-info {
    display: flex;
    justify-content: space-between;
}
