<div class="about-us-container">
    <h1>About Us</h1>
    Our vision is to leave you with an appetite that is satiated whether you've had our thirst-quenching bubble tea or our savory Bánh Mì.
    <br>
    <br>

    Try our Sister store Nam Cafe for Delicious Authentic Vietnamese Food! 
    Towerpoint and Northgate Locations now accepting online orders! 
    <br>
    <br>
    <a href="https://www.namcafetx.com/">www.namcafetx.com</a>
    <br>
    <br>
    <iframe title="Example location map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3433.4701616185807!2d-96.34631932382304!3d30.620704591037224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86468395ffd5c00b%3A0x220eae6c7a342bb9!2sBonAppeTea!5e0!3m2!1sen!2sus!4v1701669584556!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
    <br>
    <div class="about-us-socials-container">
        <a href="https://www.facebook.com/bonappeteatx/" class="social-btn" target="_blank">
            <img alt="WACG Compliant" src="https://static.wixstatic.com/media/ce6ec7c11b174c0581e20f42bb865ce3.png/v1/fill/w_41,h_41,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ce6ec7c11b174c0581e20f42bb865ce3.png" alt="facebook icon">
        </a>
        <a href="https://www.instagram.com/bonappeteatx/?hl=en" class="social-btn" target="_blank">
            <img alt="WACG Compliant" src="https://static.wixstatic.com/media/fdcfaba150fc427da298a00cb09d91c1.png/v1/fill/w_41,h_41,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fdcfaba150fc427da298a00cb09d91c1.png" alt="instagram icon">
        </a>
    </div>

</div>
