
#google_translate_element {
    display: inline-block; /* or other display modes as per your layout */
    margin: 0 10px; /* adjust spacing as needed */
    vertical-align: middle; /* aligns vertically in the navbar */
  }
  
  .goog-te-combo {
    width: 200px !important;
    height: 20px;
    font-size: 10px;
  }
  
  .goog-te-gadget {
    font-family: arial;
  }
